* { box-sizing: border-box; }
html, body {
  margin: 0;
  font-family: sans-serif;
}
/*Toda la página*/
body {
	background-color: white;
}
/*Sidenav*/
.side-menu nav {
	position: fixed;
	display: inline-block;
	left: -225px;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.sub-menu {
	position:relative;
}

.menu, .sub-menu {
	height: 100%;
    width: 225px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #111;
	text-align: left;
}

.main-item a {
	display: block;
	background-color: #111;
	color: white;
	transition: background .35s ease-in-out;
}

.main-item > .sub-menu {
	display:none;
}

.main-item:hover > a {
	background-color: #444;
}

.main-item:hover > .sub-menu {
	display: block;
	background-color: #365;
	height: auto;
}

.sub-item {
	transition: background .35s ease-in-out;
}

.sub-item:hover > a {
	background-color: #368;
}

.sub-item a {
	background-color: #365;
	color:black;
	transition: background .35s ease-in-out;
}

/*Hamburger button*/
.hamburger {
	position: fixed;
	z-index: 9999;
	padding: 15px;
}
 
.hamburger:hover {
	cursor: pointer;
}
 
.hamburger div {
	background-color: white;
	border-radius: 1px;
	height: 6px;
	width: 30px;
}	 
.hamburger div:not(:last-child) {
	margin-bottom: 5px; 
}

/*nav a:visited { color: black; }

nav a.active {
  background-color: black;
  color: white;
}
*/
.side-menu nav, .hamburger, .cover {
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
}

.sidenav-active .side-menu nav, .sidenav-active .hamburger, .sidenav-active .cover {
  -webkit-transform: translateX(225px);
  -ms-transform: translateX(225px);
  transform: translateX(225px);
}

.main {
  -webkit-transition: margin-left .3s;
  transition: margin-left .3s;
}

.sidenav-active .main { margin-left: 225px; }

section {
  color: white;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
}

section h1 { font-size: 1.75em; }

section h1, section p { margin: 0; }

section:nth-child(1) { background-color: #34495E; }

section:nth-child(2) { background-color: #3498DB; }

section:nth-child(3) { background-color: #8E44AD; }