.menu {
	position: fixed;
	display: block;
}

.sub-menu {
	position:relative;
}

.menu, .sub-menu {
	height: 100%;
    width: 200px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #111;
	text-align: left;
}

.main-item {
	transition: background .35s ease-in-out;
}

.main-item a {
	background-color: #111;
	color: white;
	transition: background .35s ease-in-out;
}

.main-item > .sub-menu {
	display:none;
}

.main-item:hover, .main-item:hover > a {
	background-color: #444;
}

.main-item:hover > .sub-menu {
	display: block;
	background-color: #365;
	height: auto;
}

.sub-item {
	transition: background .35s ease-in-out;
}

.sub-item:hover, .sub-item:hover > a {
	background-color: #368;
}

.sub-item a {
	background-color: #365;
	color:black;
	transition: background .35s ease-in-out;
}