@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");

* { 
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
}

html, body {
	margin: 0;
	font-family: "Lato", sans-serif;
	vertical-align: baseline;
}
/*Toda la página*/
body input, select, textarea{
	background-color: #111;
	color: #888;
	font-size: 12pt;
	font-weight: 400;
	line-height: 1.75em;
}
/*Header con el botón y el nombre/logo? de Isla Negra*/
.cabecera {
	z-index: 9997;
	position: fixed;
	width: 100%;
	text-align: center;
	line-height: 8em;
	height: 10em;
	background-color: black;
	top:0;
}

/*Hamburger button*/
.hamburger {

	z-index: 9998;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #1F3C39;
	padding: 2.5em 2.5em;
	height: inherit;
}

.hamburger:hover {
	cursor: pointer;
}

.hamburger div {
	background-color: white;
	border-radius: 2px;
	height: 1.2em;
	width: 8em;
}

.hamburger div:not(:last-child) {
	margin-bottom: 0.6em; 
}

/*nav a:visited { color: black; }

nav a.active {
  background-color: black;
  color: white;
}
*/
.side-menu nav, .hamburger, .cover {
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  transition: transform .3s;
}

.sidenav-active .side-menu nav, .sidenav-active .cover {
	-webkit-transform: translateX(35em);
	transform: translateX(35em);
}

/*Sidenav div nav*/
.side-menu nav {
	z-index: 9999;
	top: 0;
	height: 100%;
    width: 35em;
	background-color: black;
	position: fixed;
	overflow: auto;
	left: -35em;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
/*Menus -- ul*/
.menu, .sub-menu {
	list-style-type: none;/*Sin puntos en las listas*/
	margin: 0;/*Sin margen*/
	padding: 0;/*Sin espaciado*/
	background-color: #111; /*Casi negro*/
	text-align: left; /*Alineacion a la izq*/
}
/*En el desplegable, hacemos que no se muestre de primeras*/
.sub-menu {
	display:none;
}
/*Elementos en forma de rectángulo con márgenes, cuadrados de 14x16 con transición cuando pasas por encima*/
.main-item {
	margin: 0;
	height: inherit;
	background-color: #111;
	color: white;
	padding: 2.5em 2em;
	text-decoration: none;
	-webkit-transition: background .35s ease-in-out;
	-moz-transition: background .35s ease-in-out;
	transition: background .35s ease-in-out;
	border-width: 0px 0px 1px;
	border-style: solid;
}

.main-item > h1, .main-item > button > h1 {
	color: white;
	font-size: 3.25em;
	margin:0;
}
/*Links de dentro, */
.main-item:hover {
	background-color: #888;
	cursor: pointer;
}

.main-item:first-child {
	padding: 2.5em 2em;
	background-color: #222;
	transition: none;
	border-width: 0px 0px 1px;
	cursor: default;
}

.exit {
	padding: 0;
	margin: 0;
	border-style: none;
	background-color: transparent;
	color: white;
	top: 10px;
}


.exit:hover {
	cursor: pointer;
}

/*Usado para aplicarlo sobre sub-menús con display:none mediante js*/
.dropdown {
	display: inline;
}

.sub-item {
	font-size: 2em;
	width: 100%;
	height: inherit;
	padding: 1.5em 1.5em;
	background-color: #222;
	color: gray;
	text-decoration: none;
	border-width: 0px 0px 1px;
	border-style: solid;
	transition: background .35s ease-in-out;
	-webkit-transition: background .35s ease-in-out;
	-moz-transition: background .35s ease-in-out;
}

.sub-item:first-child {
	border-width: 1px 0px 1px;
}

.sub-item:hover {
	background-color: #777;
	color: #fad892;
	border-color: #777;
}

/* Wrapper */

#wrapper {
	background-color: #111;
	position: relative;
	top: 10em;
	height: 100%;
	width: 100%;
}

.container {
	font-size: 2em;
	color: white;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	padding-right: 1.5em;
	padding-left: 1.5em;
}

.major {
	font-size: 3em;
	align-self: center;
}

.major > h1 {
	position: absolute;
	top:0.2em; right: 0.9em; left: 0.9em;
	color: #FFFFAC;
	margin: 0;
	text-align: center;
}

.container > h2 {
	color: #B7F9CA;
	font-size: 2em;
	text-align: center;
	padding-bottom: 0.3em;
}

.container > h3 {
	color: #B7F9F7;
	text-align: left;
	font-size: 1.8em;
	margin-bottom: 0;
}

.container > h3 > i {
	color:white;
} 

.container > p {
	color: #D0FDF9;
	font-size: 1.2em;
	text-align: justify;
}

.container > br {
	display: none;
}

.container > .heavy {
	display: block;
}

.container .warning {
	color:#FF0000;
}
