@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");

* { 
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
}

html, body {
	min-width: 320px;
	margin: 0;
	font-family: "Lato", sans-serif;
	vertical-align: baseline;
	overflow-x: hidden;
}
/*Toda la página*/
body, input, select, textarea {
	background-color: #111;
	color: #888;
	font-size: 10pt;
	font-weight: 400;
	line-height: 1.75em;
}

@media only screen and (min-width: 768px) {
	body, input, textarea {
		font-size: 13pt;
	}
}

@media only screen and (min-width: 1024px) {
	body, input, textarea {
		font-size: 16pt;
	}
}

@media only screen and (min-width: 1440px) {
	body. input, textarea {
		font-size: 18pt;
	}
}
/*Header con el botón y el nombre/logo? de Isla Negra*/
.cabecera {
	z-index: 9997;
	position: fixed;
	width: 100%;
	text-align: center;
	line-height: 8em;
	height: 5em;
	background-color: black;
	top:0;
}

/*Hamburger button*/
.hamburger {
	z-index: 9998;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #1F3C39;
	padding: 1em 1em;
	height: inherit;
}

.hamburger:hover {
	cursor: pointer;
}

.hamburger div {
	background-color: white;
	border-radius: 2px;
	height: 0.6em;
	width: 3em;
}

.hamburger div:not(:last-child) {
	margin-bottom: 0.6em; 
}

/*nav a:visited { color: black; }

nav a.active {
  background-color: black;
  color: white;
}
*/
.side-menu nav, .hamburger, .cover {
	-webkit-transition: -webkit-transform .3s;
	-moz-transition: -moz-transform .3s;
	transition: transform .3s;

}

.sidenav-active .side-menu nav, .sidenav-active .cover {
	-webkit-transform: translateX(17em);
	transform: translateX(17em);
}	

/*Sidenav div nav*/
.side-menu nav {
	z-index: 9999;
	top: 0;
	height: 100%;
    width: 17em;
	background-color: black;
	position: fixed;
	overflow: auto;
	left: -17em;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
/*Menus -- ul*/
.menu, .sub-menu {
	list-style-type: none;/*Sin puntos en las listas*/
	margin: 0;/*Sin margen*/
	padding: 0;/*Sin espaciado*/
	background-color: #111; /*Casi negro*/
	text-align: left; /*Alineacion a la izq*/
}

/*En el desplegable, hacemos que no se muestre de primeras*/
.sub-menu {
	display:none;
}
/*Elementos en forma de rectángulo con márgenes, cuadrados de 14x16 con transición cuando pasas por encima*/
.main-item {
	margin: 0;
	height: inherit;
	background-color: #111;
	color: white;
	padding: 1.2em 2em;
	text-decoration: none;
	-webkit-transition: background .35s ease-in-out;
	-moz-transition: background .35s ease-in-out;
	transition: background .35s ease-in-out;
	border-width: 0px 0px 1px;
	border-style: solid;
}

.main-item > h1, .main-item > button > h1 {
	color: white;
	font-size: 1.3em;
	margin:0;
}
/*Links de dentro, */
.main-item:hover {
	background-color: #888;
	cursor: pointer;
}

.main-item:first-child {
	background-color: #222;
	transition: none;
	border-width: 0px 0px 1px;
	cursor: default;
	height: 5em;
	position: sticky;
	top: 0;
	left: 0;
}

.main-item:first-child > button {
	font-size: 2em;
	width: 100%;
	height: 100%;
	text-align: left;
}

.exit {
	height: 100%;
	padding: 0;
	margin: 0;
	border-style: none;
	background-color: transparent;
	color: white;
	top: 10px;
}

.exit:hover {
	cursor: pointer;
}

/*Usado para aplicarlo sobre sub-menús con display:none mediante js*/
.dropdown {
	display: inline;
	width: 100%;
	list-style-type: none;/*Sin puntos en las listas*/
	margin: 0;/*Sin margen*/
	padding: 0;/*Sin espaciado*/
}

.sub-item {
	font-size: 1.2em;
	width: 100%;
	height: inherit;
	padding: 0.6em 2em;
	background-color: #222;
	color: gray;
	text-decoration: none;
	border-width: 0px 0px 1px;
	border-style: solid;
	transition: background .35s ease-in-out;
	-webkit-transition: background .35s ease-in-out;
	-moz-transition: background .35s ease-in-out;
}

.sub-item:first-child {
	border-width: 1px 0px 1px;
}

.sub-item:hover {
	background-color: #777;
	color: #fad892;
	border-color: #777;
}

ul.nav {
	display: none;
}

@media only screen and (min-width: 1024px) {
	.side-menu nav {
		display: none;
	}
	.cabecera {
		display: none;
	}
	.hamburger {
		display: none;
	}
    ul.nav {
    	z-index: 9999; 
    	position:fixed;
    	color: #fad892;
    	margin: 0 auto;
    	width: 100%;
    	display: flex;
    }
    ul.nav > li:hover ul {
    	display: block;
    }
    .main-item, .main-item:first-child {
    	display: table; 
    	position: relative; 
    	padding: 1em 10px;
    	background-color: #222;
	    transition: none;
	    cursor: default;
	    height: 3em;
	    top: 0;
	    left: 0;
	    font-size: 0.8em;
	    margin: 0;
    }

    .main-item:hover {
    	border: 1px solid #666; 
    	border-bottom: 1px solid white;
    }
    .main-item:first-child:hover {
    	border: 1px solid #666; 
    	border-bottom: 1px solid white;
    }
    .sub-item {
    	display: block; 
    	text-decoration: none; 
    	padding: 7px; 
    	vertical-align: middle;
    }
    .sub-item:hover {
       	background: #ccc; 
    	border: 1px solid white;
    }
    .sub-menu {
    	top: 4em;
    	width: auto;
    	display: none; 
    	position: absolute; 
    	left: -1px; 
    	border-top-color: white;
    	margin-top: 1px; 
    }

}

@media only screen and (min-width: 1440px) {

	.main-item, .main-item:first-child {
		font-size: 1.2em;
	}
	.sub-menu {
    	top: 3.3em;
    }
}

@media only screen and (min-width: 2400px) {

	.main-item, .main-item:first-child {
		font-size: 2.2em;
	}

}
/* Wrapper */

#wrapper {
	background-color: #111;
	position: absolute;
	top: 5em;
	height: 100%;
	width: 100%;
	z-index: 1;
	padding: 44px 0 1px 0;
}

.container {
	color: white;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	padding-right: 1.5em;
	padding-left: 1.5em;
	width: 90%;
	margin: auto;
	overflow: hidden;
}

.major {
	align-self: center;
	margin: auto;
	text-align: center;
}

.major > h1 {	
	font-size: 2.7em;
	top:0.2em; right: 0.9em; left: 0.9em;
	color: #FFFFAC;
	margin: 0;
	text-align: center;
}

.container > section > h2, .container > article > h2 {
	color: #B7F9CA;
	font-size: 2em;
	text-align: center;
	padding-bottom: 0.3em;
}

.container > section > article > h3 {
	color: #B7F9F7;
	text-align: left;
	font-size: 1.8em;
	margin-bottom: 0;
	line-height: 1.3em;
}

.container section > article > h3 > i {
	color:white;
}

h4 {
	text-align: center;
} 

h5 {
	text-align: center;
	font-size: 1.4em;
}

p {
	color: #D0FDF9;
	font-size: 1.2em;
	text-align: justify;
}

p > a {
	color: grey;
}

p > i {
	text-decoration-line: underline;
}

br:not(.heavy){
	display: none;
}

.container > .heavy {
	display: block;
}

.container .warning {
	color:#FF0000;
}

.separador {
	width: 70%;
	margin: auto;
}

.table {
	color: #D0FDF9;
	margin-right: auto;
	margin-left: auto;
	width: 90%;

}

.subtable {
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	border: 1px solid #c7e8d6;
	text-align: center; 
}

.pj_caption {
	display: table-caption;
}

.pj_cage {
    text-align: right;
    float: right;
    padding-left: 2em;
    width: 100%;
}

.pj {
	display: inline-flex;
	width: 100%;
}

.pj_name {
	width: auto;
	text-align: center;
}

.pj_name > h1 {
	font-size: 1em;
}

.pj_button {
	display: none;
	padding-top: 1em;
}

.pj_button > button {
	width: 100%;
}

.subtable {
	margin: auto;
	width: 100%;
}

.subtable > * > tr > td {
	padding: 0.5em;
	text-align: center;
}

.rojo {
	color: #FF8383;
}

.amarillo {
	color: #FFFFAC;
}

.verde {
	color: #B7F9CA;
}
@media only screen and (min-width: 768px) {
	table {
		font-size: 11pt;
	}
}
@media only screen and (min-width: 1024px) {
	table {
		font-size: 13pt;
	}
}
@media only screen and (min-width: 1024px) {
	table {
		font-size: 15pt;
	}
}
@media only screen and (max-width: 480px) {
	
	tr, thead, td, th, tbody { 
		display: block;	
	}

	.pj_caption {
		display: inherit;
	}

	table {
		display: none;
	}

	.subtable {
		border: none;
	}

	.pj_button {
		display: block;
	}

	.subtable > * > tr > td {
		padding: 0.5em;
		text-align: right;
	}

	.stats {
		display: block;
	}
	/*Se esconden pero no se ocultan por temas de accesibilidad*/
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { 
		text-align: center;
		border: 1px solid #eee;
	}

	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		text-align: left;
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

	td:nth-of-type(1):before { content: "Fuerza"; }
	td:nth-of-type(2):before { content: "Destreza" }
	td:nth-of-type(3):before { content: "Constitución"; }
	td:nth-of-type(4):before { content: "Inteligencia"; }
	td:nth-of-type(5):before { content: "Sabiduría"; }
	td:nth-of-type(6):before { content: "Carisma"; }
	td:nth-of-type(7):before { content: "Raza"; }
	td:nth-of-type(8):before { content: "Clase"; }
	td:nth-of-type(9):before { content: "Alineamiento"; }
}
/************************/
/* Style the tab */
.tab {
	display: block;
    overflow-x: auto;
	overflow-y: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    height: 4em;
    margin-left: 5%;
    margin-right: 5%;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
}

.tab::-webkit-scrollbar {
   	display: none;
}

.tab_list {
	list-style-type: none;
	display: flex;
	margin: 0;
    padding: 0;
    height: 100%;
}

/* Style the buttons that are used to open the tab content */
.tab_list > li {
	height: 100%;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.6em 0.8em;
    transition: 0.3s;
    font-size: 1.5em;
    text-align: center;
}

.tablinks {
	float: left;
}

/* Change background color of buttons on hover */
.tab li:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab_list > li.active {
    background-color: #ccc;
}


label {
	color: #B7F9F7;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    width: 90%;
    margin: auto;
    overflow: hidden; 
}

.inline_img {
	display: block;
    margin: auto;
    width: 100%;
}
/*seguimos mobile FIRSTTT*/
@media only screen and (min-width: 760px) {
	.inline_img {
		margin: 0;
		display: inline-flex;
		max-width:100%;
		width: auto;
		float: left;
		padding-right: 1em; 
	}
}

@media only screen and (min-width: 1024px) {
	.inline_img {
		margin: 0;
		max-width:100%;
		width: auto;
		padding-right: 1em; 
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column {
	flex: 50%;
	max-width: 50%;
	padding: 0 4 px;
}

.column > img {
	margin-top: 8px;
	vertical-align: middle;
	display: block;
	margin: auto;
}


@media (min-width: 760px) {
  .column {
	flex: 33%;
	max-width: 33%;
  }
}

@media (min-width: 1024px) {
  .column {
	flex: 25%;
	max-width: 25%;
  }
}


@media (min-width: 1440px) {
  .column {
	flex: 16.66%;
	max-width: 16.66%;
  }
}
.tabcontent > section > h2 {
	text-align: left;
	font-size: 2em;
	color: #B7F9CA; 
}

.tabcontent > section > article > h3 {
	text-align: center;
	font-size: 1.7em;
	color: #F0F638;
}

.tabcontent > section > article > h4 {
	text-align: center;
	font-size: 1.4em;
	color: #F0F638;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.form_button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #333;
    margin: 30% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#returnToInicio {
	background-color: #999; /* grey pero clarito */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}