* { 
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
}

html, body {
	line-height: 1;
	margin: 0;
	font-family: "Lato", sans-serif;
	vertical-align: baseline;
}
/*Toda la página*/
body {
	background: #fff;
	color: #888;
	font-size: 16pt;
	font-weight: 400;
	line-height: 1.75em;
}
/*Header con el botón y el nombre/logo? de Isla Negra*/
.cabecera {
	position:fixed;
	width:100%;
	height:48px;
	background-color: black;
	top:0;
}
/**/
.img-cabecera {
    padding: 5px;
	max-width: 100%;
	max-height: 3em;
	margin: auto;
	display: block;
}
/*Sidenav div nav*/
.side-menu nav {
	top:0;
	height: 100%;
    width: 225px;
	background-color: black;
	position: fixed;
	overflow: auto;
	left: -225px;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
/*Menus -- ul*/
.menu, .sub-menu {
	list-style-type: none;/*Sin puntos en las listas*/
	margin: 0;/*Sin margen*/
	padding: 0;/*Sin espaciado*/
	background-color: #111; /*Casi negro*/
	text-align: left; /*Alineacion a la izq*/
}
/*En el desplegable, hacemos que no se muestre de primeras*/
.sub-menu {
	display:none;
}
/*Elementos en forma de rectángulo con márgenes, cuadrados de 14x16 con transición cuando pasas por encima*/
.main-item {
	height: 48px;
	background-color: #111;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	-webkit-transition: background .35s ease-in-out;
	-moz-transition: background .35s ease-in-out;
	transition: background .35s ease-in-out;
	border-width: 0px 0px 0px;
	border-style: solid;
}
/*Links de dentro, */
.main-item:hover {
	background-color: #888;
	cursor: pointer;
}

.main-item:first-child {
	padding: 12px 14px;
	background-color: #222;
	transition: none;
	border-width: 0px 0px 1px;
	cursor: default;
}
/*.main-item:hover > .sub-menu {
	display: block;
	background-color: #365;
	height: auto;
}*/
.drop-button {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border-style: solid;
	border-width: 0px 0px 0px;
	color: inherit;
	right: 225px;
}
/*Usado para aplicarlo sobre sub-menús con display:none mediante js*/
.dropdown {
	display: inline;
	background-color: #333;
	width: 100%;
	height: auto;
}

.sub-item {
	height: inherit;
	padding: 12px 28px;
	background-color: #222;
	color: grey;
	text-decoration: none;
	border-width: 0px 0px 1px;
	border-style: solid;
	transition: background .35s ease-in-out;
	-webkit-transition: background .35s ease-in-out;
	-moz-transition: background .35s ease-in-out;
}

.sub-item:first-child {
	border-width: 1px 0px 1px;
}

.sub-item:hover {
	background-color: #777;
	color: #FAD892;
	border-color: #777;
}

/*Hamburger button*/
.hamburger {
	position: fixed;
	z-index: 9999;
	padding: 15px 13px;
}
 
.hamburger:hover {
	cursor: pointer;
}
 
.hamburger div {
	background-color: white;
	border-radius: 1px;
	height: 4px;
	width: 22px;
}

.hamburger div:not(:last-child) {
	margin-bottom: 3px; 
}

.exit {
	padding: 0;
	margin: 0;
	border-style: none;
	background-color: transparent;
	color: white;
	font-size: 23px;
	top: 10px;
}

.exit:hover {
	cursor: pointer;
}

/*nav a:visited { color: black; }

nav a.active {
  background-color: black;
  color: white;
}
*/
.side-menu nav, .hamburger, .cover {
  -webkit-transition: -webkit-transform .3s;
  -moz-transition: -moz-transform .3s;
  transition: transform .3s;
}

.sidenav-active .side-menu nav, .sidenav-active .cover {
	-webkit-transform: translateX(225px);
	-ms-transform: translateX(225px);
	transform: translateX(225px);
}
/* Containers */

	.container {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}

	a {
		-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		border-bottom: solid 1px #e4e4e4;
		color: inherit;
		text-decoration: none;
	}

	a:hover {
		border-bottom-color: transparent;
		color: #4acaa8;
	}

	p {
		margin: 0 0 2.25em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #777;
		font-weight: 700;
		line-height: 1em;
		margin: 0 0 0.5625em 0;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		border: 0;
		color: inherit;
		text-decoration: none;
	}

	h2 {
		font-size: 2em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1.75em;
		line-height: 1.5em;
	}

	h4 {
		font-size: 1.25em;
		line-height: 1.5em;
	}

	h5 {
		font-size: 0.9em;
		line-height: 1.5em;
	}

	h6 {
		font-size: 0.7em;
		line-height: 1.5em;
	}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

	header p {
		color: #aaa;
		margin: 0 0 1.6875em 0;
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -0.5em;
		line-height: 1.5em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.35em;
		line-height: 1.5em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.25em;
		line-height: 1.5em;
	}

	header.major h2 {
		color: #4acaa8;
		font-size: 3.5em;
	}

		header.major h2 + p {
			color: #777;
			font-size: 1.75em;
			font-weight: 700;
			margin-top: -0.75em;
		}

/* Wrapper */

	#wrapper {
		background: #fff;
		padding-right: 23em;
	}

/* Main */

	#main > section {
		border-top: solid 6px #f4f4f4;
	}

		#main > section > .container {
			padding: 6em 0 4em 0;
		}

		#main > section:first-child {
			border-top: 0;
		}

/* One */

	#one:before {
		content: '';
		display: block;
		height: 15em;
		width: 100%;
	}

/* XLarge */

	@media screen and (max-width: 1680px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 13pt;
			}

		/* Wrapper */

			#wrapper {
				padding-right: 21em;
			}

		/* Main */

			#main > section > .container {
				padding: 4em 0 2em 0;
			}

	}

/* Large */

	@media screen and (max-width: 1280px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 11pt;
			}

		/* Wrapper */

			#wrapper {
				padding-right: 20em;
			}

	}

	@media screen and (max-width: 1024px) {

		/* Basic */

			html, body {
				overflow-x: hidden;
			}

			body, input, select, textarea {
				font-size: 12pt;
			}

			#wrapper {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				padding: 44px 0 1px 0;
			}

		/* One */

			#one:before {
				height: 10em;
			}

	}

/* Small */

	@media screen and (max-width: 736px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 12pt;
			}

			h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
				display: none;
			}

			h2 {
				font-size: 1.75em;
			}

			h3 {
				font-size: 1.5em;
			}

			h4 {
				font-size: 1em;
			}
		/* Section/Article */

			header br {
				display: none;
			}

			header.major h2 {
				font-size: 2.5em;
			}

				header.major h2 + p {
					font-size: 1.5em;
				}
				}

		/* Main */

			#main > section > .container {
				padding: 2em 0 0 0;
			}

		/* One */

			#one:before {
				height: 7em;
			}

	}

/* XSmall */

	@media screen and (max-width: 480px) {

		/* Basic */

			html, body {
				min-width: 320px;
			}

			body, input, select, textarea {
				font-size: 12pt;
			}

	}